.rolPrincipal{
    display:flex;
    justify-content: center;
}

.rolPrincipal>button{
    font-size: 25px;
    color: #59A6A2;
    border-radius: 34px;
    padding: 15px;
    margin: 10px;
}

.saludo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    font-size: 25px;
    height: 100%;
    justify-content: center;
}

h2{
    margin-left: 760px;
    font-size: 20px;
}